header{
    color: whitesmoke;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color-interpolation-filters: initial;

}

#blog{
    color: rgb(221, 115, 115);    
    text-transform: uppercase;   
}

a:hover{
    background-color:palevioletred;
}

a:active{
    background-color: dodgerblue;
}


#contact-section{
    color: rgb(141, 22, 46);
}

/*box model*/
.Box{
    margin: 30px 10px;
    padding: 30px;
    border:2px solid green;
    width:350px;
    height: 400px;
    display: inline-block;
    text-align: center;
    overflow: scroll;
    background-color: rgb(207, 216, 240);
  
}
.inner-box{
    margin: 10px;
    width: 300px;
    height: 250px;
}

#contact{
    text-align: center;
}
.contact{
    display: inline-block;
    width: 33%;
}
footer{
    background-color: gray;   
}

header h1{
    position: fixed;
    text-align: center;
    color: white;
    background-color: rgb(107, 58, 58);
}


#blog{
    position: sticky;
    background-color: lavenderblush;
    text-align:left;
}